as-tab {
    cursor: pointer;
    position: relative;
    outline: none;
    background: #f5f5f5;
    background: linear-gradient(#ffffff, #f5f5f5);
    padding: 10px 20px;
    font-family: sans-serif;
    color: #999999;
}
as-tab-panel {
    padding: 20px;
    font-family: sans-serif;
    color: #010b17;
}
as-tab[selected] {
    color: #00b0ff;
}

as-tab::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 0;
    height: 2px;
    background-color: #00b0ff;
    transition: width 0.1s;
}

as-tab[selected]::after {
    width: 100%;
}

/**
* If JavaScript does not run, the element will not match `:defined`.
* In that case this style adds spacing between tabs and previous panel.
*/
as-tabs:not(:defined), as-tab:not(:defined), as-tab-panel:not(:defined) {
    display: block;
}